.max-height {
    height: 100%;
}

.plus {
    font-size: 100px;
}

.demo-card-square.mdl-card {
    width: 100%;
    height: 650px;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
    width: 100%;
    background: url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}

h5 {
    margin: 0px;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

.button-github {
    position: absolute;
    bottom: 0;
}

.proyecto {
    /*text-align: center;*/
    height: 90vh;
}

.proyecto-2 {
    /*text-align: center;*/
    height: 90vh;
}

.centered-divs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-divs-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mamboleap {
    background-color: #B8D8DD;
}

.img-resizable-leap{
    width: 80%;
}

.img-resizable-drone{
    width: 130%;
}

.leap-controler {
    background-color: #729BBF;
}

.android-controler {
    background-color: #B8D8DD;
}

.img-resizable{
    width: 45%;
}

@media (max-width: 600px) {
    .proyecto{
        height: 1000px;
    }

    .plus{
        display: none;
    }
}
